@assethub:registry=https://artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-assethub-sdk-release/
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-assethub-sdk-release/:_authToken=${NODE_AUTH_TOKEN}
