/* stylelint-disable max-line-length */
@font-face {
  font-family: FontAwesome;
  font-display: swap;
  src: url("../fonts/fontawesome-webfont.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
